.DS_Store

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/config/database.php
/index.php

application/cache/*

# Ignore everything inside application/logs/
application/logs/*
# But do not ignore the logs folder itself
!application/logs/
!.gitignore